.card {
	@include s-depth(10);
	background: white;
	@include s-transition(fast);
	position:relative;
	transform: scale(1,1);

	&:hover {
		@include s-depth(20);
		z-index:1;
		transform: scale(1.01,1.01);
	}

	.btn {
		border-radius: 3px;
	}
}
	.card__content {
		padding: s-space(default);
	}
