@include s-setup((
    fonts : (
        roboto : (
            font-family : (Roboto, Helvetica),
			font-weight: 400
        ),
		roboto-light : (
			font-family : (Roboto, Helvetica),
			font-weight : 300
		),
		roboto-bold : (
			font-family : (Roboto, Helvetica),
			font-weight : 800
		)
    )
));

@include s-setup((
    filters : (
        shadowed : drop-shadow(rgba(0,0,0,.3) 0 0 10px),
        blured : blur(3px)
    )
))
