// setup
@include g-setup((
	context : 12,
	gutter-width : 20px,
	gutter-height : 20px,
	name-multiplicator : 1
));

// register special columns
@include g-register-column("1on5", 1, 5);

// register some states
@include g-register-default-states();
@include g-register-state(ipad-landscape, (
	query : "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)",
	gutter-height : 50px,
	gutter-width : 60px,
	direction : rtl
));
