// setup
@include g-setup((
	context : 12,
	gutter-width : 20px,
	gutter-height : 20px,
	name-multiplicator : 1
));

// register special columns
@include g-register-column("1on5", 1, 5);

// register some states
@include g-register-state(mobile, (
	max-width : 640px,
	gutter-width : 40px,
	gutter-height : 40px
));
// @include g-register-default-states();
