.list {
	@include s-list();
}

.list--footer {
	font-size: .8em;

	.list__item {
		margin-bottom: .5em;
		a {
			text-decoration: none;
			color: s-color(text);

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
