/**
 * Layout
 * All the layout level specific styling.
 */
@import 'repositories', 'use', 'who';

body {
	padding-top:50px;
	@include g-state(mobile) {
		padding-top:0;
	}
}

/**
 * Topbar
 */
.topbar {
	color: white;
	position:fixed;
	top:0; left:0;
	width:100%;
	z-index:10;

	h1 {
		color: inherit;
	}
	a,
	.link {
		text-decoration: none;

		i {
			margin-right: 5px;
		}
	}
	// .link {
	// 	&:hover {
	// 		text-decoration: underline;
	// 	}
	// }
}

/**
 * Header
 */
.header {
	background-color: s-color(primary);
	background-image: url('../img/header-bkg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top 50%;
	background-attachment: fixed;
	padding: s-space(big) 0;
	color: white;
	position:relative;

	.h1 {
		color: inherit;
	}

	@include g-state(mobile) {
		text-align: center;
	}
}
	.header__img-kraken {
		position:absolute;
		bottom:0; left:50%;
		width: 50vw;
		max-width: 800px;
		height: auto;
		@include s-translate(-115%, 12.5%);
		z-index:10;
		margin-left:-50px;
		opacity:0;
		@include s-transition(-delay .3s);

		&[loaded] {
			opacity:1;
			margin-left:0;
		}
	}
	.header__img-editors {
		position:relative;
		left:100%;
		transform:translateX(-100%);

		@include g-state(mobile) {
			left:0;
			transform:none;
			width: 80%;
			margin:s-space(default) 0;
		}
	}

/**
 * Footer
 */
.footer {
	color: white;

	.h1,.h2,.h3,.h4,.h5,.h6 {
		color: inherit;
	}
}
