.repositories {
	background-color: s-color(primary);
	background-image: url('../img/header-bkg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top 50%;
	background-attachment: fixed;
}
